<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SSA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>936136BA1EB4F99400ABC921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>936136D31EB4F99700ABC921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>936136DE1EB4F99700ABC921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
